.content-wrapper {
  display: flex;
  padding: 4rem 4rem;
  max-width: 1300px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .content-wrapper {
    padding: unset;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .content-wrapper {
    display: unset;
  }
}
