.our-features {
  background: $main-blue;
  padding: 4rem 0;

  &--content-wrapper {
    flex-direction: column;
  }

  &--headline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;

    img {
      margin: 0 1rem 1rem 0;
    }

    h2 {
      color: #fff;
      font-size: 4rem;
      font-weight: 300;

      strong {
        color: #fff;
        font-weight: 450;
      }
    }
  }

  &--features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;

    .feature {
      display: grid;
      justify-content: center;
      grid-column-gap: 2rem;
      grid-template-areas:
        "featureimg featureheader"
        ". featureinfo";
      padding: 2rem;

      img {
        grid-area: featureimg;
      }

      h3 {
        grid-area: featureheader;
        font-size: 2rem;
      }

      p {
        grid-area: featureinfo;
        font-size: 1.1rem;
        line-height: 1.7rem;
      }
    }

    h3,
    p {
      color: #fff;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 1000px) {
  .our-features--headline {
    flex-direction: column;

    h2 {
      font-size: 3rem;
    }
  }

  .our-features--features {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    padding: 1rem 0;

    .feature {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 1rem;

      img {
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
      }

      p {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .feature {
    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
