.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: $main-blue;

  p {
    font-weight: 300;
  }

  &--button {
    padding: 1rem 1.5rem;
    margin-left: 1.5rem;
    background-color: $main-orange;
  }

  p,
  a {
    color: #fff;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;

    &--button {
      margin: 1rem 0 0 0;
    }
  }
}
